<div class="row">
    <div class="col">
        <div class="card">
            <div class='card-header'>Add Post</div>
            <div class='card-body'>
                <form class="form newpost-form">
                <input class="form-control" type="text" placeholder="Title of Post" aria-label="Title of Post" id="post-title-input" />
                </br>
                <textarea class="form-control" placeholder="New Post" id="post-input" rows="3"></textarea>
                </br>
                <button class="btn btn-dark" id="post-submit" type="submit">Submit</button>
                </form>
            </div> 
        </div>
    </div>
</div>
</br>

<div class='row'>
{{#if posts.length}}

<div class="col">
    <h4>Current Posts:</h4>
  {{#each posts as |post|}}
    <div class='col-mb-8'>
        <div class='card'>
            <div class='card-header'>
                <a href='/post/{{post.id}}'>{{title}}</a>
                <div style="text-align: right">Posted by {{user.name}} on {{format_date date_created}}</div>
            </div>
            <div class='card-body' id='btn-delete'>
                <div class='card-text'>{{description}}</div>
            </div>
        </div>  
        <div class="col-1"></div>
            <div class="col-10">
            <button class="btn btn-primary" type="submit" post-id="{{post.id}}">EDIT</button>
            <button class="btn btn-danger" type="submit" post-id="{{post.id}}">DELETE</button>
            </div>
            <div class="col-1"></div>
        </br>

    </div>
    {{/each}}
</div>
{{/if}}
<script src="/js/profile.js"></script>