<div class='row'>
    <div class='col justify-content-center'>
        <div class='card'>
            <div class='card-header'>
                <a href='#'>{{title}}</a>
                <div style="text-align: right">Posted by {{name}} on {{format_date date_created}}</div>
            </div>
            <div class='card-body'>
                <div class='card-text'>{{description}}</div>
            </div>
        </div>
    </div>
</div>
</br>

<div class="row">
{{#if comments.length}}
<div class="col justify-content-center">
{{#each comments as |comment|}}
        <div class="card">
            <div class="card-header">
                <div style="test-align: right">Posted By {{user_id}} on {{format_date date_created}}</div>
            </div>
            <div class="card-body">
                <div class='card-text'>{{description}}</div>
            </div>
        </div>
     {{/each}}
       
    </div>
{{/if}}
</div>
</br>


<div class='row'>
    <div class='col justify-content-center'>
        <div class='card'>
            <div class='card-header'>Add Comment</div>
            <div class='card-body'>
                <form class="form comment-input">
                <textarea class="form-control commentInput" rows="3"></textarea>
                </br>
                <button class='btn btn-secondary justify-content-center' post-id="{{id}}" onclick="newCommentHandler(event)">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/newComment.js"></script>